# requirements.txt

# Основная библиотека для работы с Telegram
python-telegram-bot

# Для асинхронной работы с базой данных PostgreSQL
psycopg-pool

# Для загрузки переменных окружения (полезно для локального запуска)
python-dotenv

# Для работы с API Gemini
google-generativeai
