# requirements.txt

# Бот и веб-сервер
python-telegram-bot==21.0.1
fastapi
uvicorn

# База данных
sqlalchemy[asyncpg]
asyncpg
psycopg2-binary
alembic

# Конфигурация и AI
python-dotenv
google-generativeai
pydantic-settings
